/* General */

body {
  font-family: "Poppins", sans-serif;
}

header {
  color: whitesmoke;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 100;
}

#shiftdown {
  width: 100%;
  height: 100px;
}

header,header h1,header nav{
  background-color: hsl(230, 90%, 15%);
}

h1 {
  font-family: "Andada Pro", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 2em;
  display: inline-block;
  padding: 10px 80px;
}

h2 {
  font-family: "Work Sans";
  font-size: 30px;
  font-weight: 500;
  line-height: 2em;
}

h3 {
  font-family: "Work Sans";
  font-size: 24px;
  font-weight: 500;
  line-height: 2em;
  text-align: center;
}

p {
  font-size: 20px;
  line-height: 1.8em;
}

nav {
  position: absolute;
  padding: 0px 80px;
  top:0;
  right: 0;
}

nav li {
  display: inline-block;
}

nav a{
  text-decoration: none;
}

nav h2 {
  color: whitesmoke;
  font-size: 20px;
  padding: 30px 16px;
}

.topics {
  padding: 50px 70px;
  margin: 35px;
  border: 1px black solid;
  border-radius: 22px;
}

/* Colors */

#colors ul {
  background-color: hsl(200, 100%, 98%);
  display: flex;
  width: max-content;
  padding: 10px;
  margin: 30px auto 50px;
}

#colors li {
  display: inline-block;
}

#colors li p {
  font-size: 14px;
}

#colors div {
  box-sizing: border-box;
  height: 100px;
  width: 180px;
}

#light-1 {
  background-color: hsl(140, 85%, 85%);
}
#light-2 {
  background-color: hsl(200, 85%, 85%);
}
#light-3 {
  background-color: hsl(230, 85%, 85%);
}
#light-4 {
  background-color: hsl(290, 85%, 85%);
}
#light-5 {
  background-color: hsl(350, 85%, 85%);
}
#light-6 {
  background-color: hsl(20, 85%, 85%);
}

#medium-1 {
  background-color: hsl(140, 90%, 60%);
}
#medium-2 {
  background-color: hsl(200, 90%, 60%);
}
#medium-3 {
  background-color: hsl(230, 90%, 60%);
}
#medium-4 {
  background-color: hsl(290, 90%, 60%);
}
#medium-5 {
  background-color: hsl(350, 90%, 60%);
}
#medium-6 {
  background-color: hsl(20, 90%, 60%);
}

#dark-1 {
  background-color: hsl(140, 90%, 15%);
}
#dark-2 {
  background-color: hsl(200, 90%, 15%);
}
#dark-3 {
  background-color: hsl(230, 90%, 15%);
}
#dark-4 {
  background-color: hsl(290, 90%, 15%);
}
#dark-5 {
  background-color: hsl(350, 90%, 15%);
}
#dark-6 {
  background-color: hsl(20, 90%, 15%);
}

/* Fonts */

#fonts ul {
  text-align: center;
  margin: 0px auto;
}

#fonts li {
  display: inline-block;
  width: 600px;
  margin: 30px 20px 50px;
}

#fonts .others {
  display: block;
  margin: 30px auto 50px;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

#font-1 {
  font-family: "Poppins", sans-serif;
}
#font-2 {
  font-family: "Work Sans", sans-serif;
}
#font-3 {
  font-family: "Playfair Display", serif;
}
#font-4 {
  font-family: "Playfair Display SC", serif;
}
#font-5 p {
  font-family: "Festive", cursive;
  font-size: 36px;
  line-height: 1.6em;
}
#font-6 p {
  font-family: "Ephesis", cursive;
  font-size: 36px;
  line-height: 1.6em;
}
#font-7 {
  font-family: "Montserrat", sans-serif;
}
#font-8 {
  font-family: "Montserrat Alternates", sans-serif;
}
#font-9 {
  font-family: "Roboto", sans-serif;
}
#font-10 {
  font-family: "Andada Pro", serif;
}

/* Text Styles */

#text-styles li h1,
#text-styles li h2,
#text-styles li h3,
#text-styles li p {
  text-decoration: underline;
  text-decoration-style: double;
  text-underline-offset: 0.2em;
  text-decoration-thickness: 0.08em;
}

#text-styles ul {
  text-align: center;
  margin: 0px auto;
}

#text-styles li {
  display: inline-block;
  width: 500px;
  margin: 30px 20px 50px;
}

#text-styles .description li {
  font-size: 20px;
  line-height: 1.8em;
  display: block;
  margin: 0;
}

/* Table Styles */

table {
  width: 500px;
  margin: 30px 50px 50px;
}

th,
tr,
td {
  text-align: center;
  vertical-align: middle;
  padding: 5px 15px;
  border: 0.5px solid hsl(230, 40%, 55%);
}

th {
  background-color: hsl(230, 85%, 85%);
  font-family: "Work Sans";
  font-size: 30px;
  font-weight: 500;
  line-height: 2em;
}

td {
  font-size: 20px;
  line-height: 1.8em;
}

#table-styles section {
  width: max-content;
  margin: 0 auto;
}

#table {
  display: inline-block;
}

code {
  font-size: 20px;
  line-height: 1.4em;
  display: inline-block;
  width: 500px;
  margin: 30px 50px 50px;
}

#code {
  background-color: hsl(200, 100%, 98%);
  vertical-align: top;
  display: inline-block;
}

/* File System Structure */

#file-system-structure section {
  margin: 30px 50px 50px;
}

#file-system-structure ol,
#file-system-structure ul {
  margin: 0 40px;
}

#file-system-structure ol li {
  list-style: decimal;
}

#file-system-structure ul li {
  list-style: circle;
}

#file-system-structure h2,
#file-system-structure h3,
#file-system-structure p {
  text-align: left;
  text-indent: 15px;
}
